// Copyright 2026, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.popover-content {
    min-width: 100px;
    min-height: 150px;
    position: absolute;
    z-index: 1000; // TODO: put this in theme.scss
    display: flex;
    padding: 2px;
    gap: 1px;
    border-radius: 4px;
    border: 1px solid var(--sage-line-strong);
    background: var(--modal-bg-color);
    box-shadow: var(--modal-box-shadow);
}
